ASSIGNMENT 8 B

DATE: 3/09/24

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Hitters.csv')
print(df.dtypes)
df.head()

Unnamed: 0     object
AtBat           int64
Hits            int64
HmRun           int64
Runs            int64
RBI             int64
Walks           int64
Years           int64
CAtBat          int64
CHits           int64
CHmRun          int64
CRuns           int64
CRBI            int64
CWalks          int64
League         object
Division       object
PutOuts         int64
Assists         int64
Errors          int64
Salary        float64
NewLeague      object
dtype: object

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [9]:
df.isna().sum()

Unnamed: 0     0
AtBat          0
Hits           0
HmRun          0
Runs           0
RBI            0
Walks          0
Years          0
CAtBat         0
CHits          0
CHmRun         0
CRuns          0
CRBI           0
CWalks         0
League         0
Division       0
PutOuts        0
Assists        0
Errors         0
Salary        59
NewLeague      0
dtype: int64

In [10]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [15]:
# One-hot encode categorical variables
df = pd.get_dummies(df, columns=['League', 'Division', 'NewLeague'])

# Detect outliers using Z-scores
from scipy.stats import zscore
df['z_salary'] = zscore(df['Salary'])
outliers = df[abs(df['z_salary']) > 3]
print(outliers)

           Unnamed: 0  AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  \
82     -Don Mattingly    677   238     31   117  113     53      5    2223
84       -Dale Murphy    614   163     29    89   83     75     11    5017
96     -Dave Winfield    565   148     24    90  104     77     14    7287
100     -Eddie Murray    495   151     17    61   84     78     10    5624
112      -Gary Carter    490   125     24    81  105     62     13    6063
163         -Jim Rice    618   200     20    98  110     62     13    7127
179  -Keith Hernandez    551   171     13    94   83     94     13    6090
217     -Mike Schmidt     20     1      0     0    0      0      2      41
229      -Ozzie Smith    514   144      0    67   54     79      9    4739

     CHits  ...  Assists  Errors    Salary  League_A  League_N  Division_E  \
82     737  ...      100       6  1975.000      True     False        True
84    1388  ...        6       6  1900.000     False      True       False
96    2083  ...        9       5  1861.460      True     False        True
100   1679  ...       88      13  2460.000      True     False        True
112   1646  ...       62       8  1925.571     False      True        True
163   2163  ...       16       8  2412.500      True     False        True
179   1840  ...      149       5  1800.000     False      True        True
217      9  ...      220       6  2127.333     False      True        True
229   1169  ...      453      15  1940.000     False      True        True

     Division_W  NewLeague_A  NewLeague_N  z_salary
82        False         True        False  3.536467
84         True        False         True  3.352158
96        False         True        False  3.257447
100       False         True        False  4.728335
112       False        False         True  3.414997
163       False         True        False  4.611606
179       False        False         True  3.106412
217       False        False         True  3.910820
229       False        False         True  3.450456

[9 rows x 25 columns]

In [21]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

X = df.drop( ['Unnamed: 0', 'Salary', 'z_salary'], axis=1)
y = df['Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# OLS Regression
ols = LinearRegression()
ols.fit(X_train, y_train)
ols_train_score = ols.score(X_train, y_train)
ols_test_score = ols.score(X_test, y_test)

# Ridge Regression
ridge = Ridge(alpha=1)
ridge.fit(X_train, y_train)
ridge_train_score = ridge.score(X_train, y_train)
ridge_test_score = ridge.score(X_test, y_test)

# Lasso Regression
lasso = Lasso(alpha=0.1, max_iter=10000)
lasso.fit(X_train, y_train)
lasso_train_score = lasso.score(X_train, y_train)
lasso_test_score = lasso.score(X_test, y_test)

print("OLS Train R-squared:", ols_train_score)
print("OLS Test R-squared:", ols_test_score)
print("Ridge Train R-squared:", ridge_train_score)
print("Ridge Test R-squared:", ridge_test_score)
print("Lasso Train R-squared:", lasso_train_score)
print("Lasso Test R-squared:", lasso_test_score)

OLS Train R-squared: 0.4608485168880925
OLS Test R-squared: 0.33689585727864213
Ridge Train R-squared: 0.4608461105427857
Ridge Test R-squared: 0.33684774990286603
Lasso Train R-squared: 0.4608434310283487
Lasso Test R-squared: 0.33698873270155416